<embed id="trailer" src="http://www.youtube.com/v/N5YTOZ4awqw" type="application/x-shockwave-flash" quality="high"> 
<h1 id="globalcivics">Global Civics</h1>
<p id="paper"><%= I18n.t(:paper) %></p>
<p id="documentary"><%= I18n.t(:documentary_details) %></p>
