<embed id="trailer" src="http://www.youtube.com/v/N5YTOZ4awqw" type="application/x-shockwave-flash" quality="high"> 

<p id="paper">
  In the age of unprecedented level of interconnectedness and interaction, Global Civics suggests a system of conscious responsibilities and corresponding rights that we have towards each other by the mere fact of being human on Earth. As people believing in the urgent necessity of a shared consciousness and sense of global responsibility, we invite you to see the world through the prism of Global Civics. </p>
<p id="documentary">
  To see the full-length documentary "Global Civics", 
  please <a href="#">click</a>...</p>
